<div class="fixed-bottom row">
  <button type="button" class="btn btn-secondary btn-md cwhite w-50" data-toggle="modal" data-target="#exampleModalCenter">SHOW DETAILS</button>
  <button type="button" class="btn btn-primary btn-md w-50">DONE</button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="close p-2 text-right" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <!-- <div class="px-3 pb-3">
        <input type="text" placeholder="Search.." class="w-100">
      </div> -->
      <div class="text-center px-3 py-2 bg-pick font-weight-bold">
        THIS PICKLIST
      </div>
      <div class="row bg-list font-weight-bold mx-0 text-center shadow3">
        <div class="col-3 pt-2 pb-1">
          <div class="h4"> 
            54
          </div>
          <div class="h6 f10"> 
            PENDING
          </div>
        </div>
        <div class="col-3 pt-2 pb-1">
          <div class="h4"> 
            10
          </div>
          <div class="h6 f10"> 
            PICKED
          </div>
        </div>
        <div class="col-4 pt-2 pb-1">
          <div class="h4"> 
            1
          </div>
          <div class="h6 f10"> 
            NOT FOUND
          </div>
        </div>
        <div class="col-2 pt-2 pb-1">
          <div class="h4"> 
            65
          </div>
          <div class="h6 f10"> 
            QTY
          </div>
        </div>
      </div>

      <div class="modal-hgt">
        <div class="card m-2 bg-pick-card shadow2">
          <div class="row px-2">
            <h4 class="col pt-2">P1-C-0-902</h4>
            <h4 class="col"><span class="pull-right pt-2">B11511922</span></h4>
          </div>
          <div class="row font-weight-bold mx-0 text-center">
            <div class="col pt-2 pb-1">
              <div class="h4"> 
                10
              </div>
              <div class="h6 f10"> 
                PENDING
              </div>
            </div>
            <div class="col pt-2 pb-1">
              <div class="h4"> 
                0
              </div>
              <div class="h6 f10"> 
                NOT FOUND
              </div>
            </div>
            <div class="col pt-2 pb-1">
              <div class="h4"> 
                4
              </div>
              <div class="h6 f10"> 
                QTY
              </div>
            </div>
          </div>
        </div>

        <div class="card m-2 bg-pick-card shadow2">
          <div class="row px-2">
            <h4 class="col pt-2">P1-C-0-902</h4>
            <h4 class="col"><span class="pull-right pt-2">B11511922</span></h4>
          </div>
          <div class="row font-weight-bold mx-0 text-center">
            <div class="col pt-2 pb-1">
              <div class="h4"> 
                10
              </div>
              <div class="h6 f10"> 
                PENDING
              </div>
            </div>
            <div class="col pt-2 pb-1">
              <div class="h4"> 
                0
              </div>
              <div class="h6 f10"> 
                NOT FOUND
              </div>
            </div>
            <div class="col pt-2 pb-1">
              <div class="h4"> 
                4
              </div>
              <div class="h6 f10"> 
                QTY
              </div>
            </div>
          </div>
        </div>

        <div class="card m-2 bg-done-card shadow2">
          <div class="row px-2">
            <h4 class="col pt-2">P1-C-0-902</h4>
            <h4 class="col"><span class="pull-right pt-2">B11511922</span></h4>
          </div>
          <div class="row font-weight-bold mx-0 text-center">
            <div class="col pt-2 pb-1">
              <div class="h4"> 
                0
              </div>
              <div class="h6 f10"> 
                PENDING
              </div>
            </div>
            <div class="col pt-2 pb-1">
              <div class="h4"> 
                0
              </div>
              <div class="h6 f10"> 
                NOT FOUND
              </div>
            </div>
            <div class="col pt-2 pb-1">
              <div class="h4"> 
                4
              </div>
              <div class="h6 f10"> 
                QTY
              </div>
            </div>
          </div>
        </div>

        <div class="card m-2 bg-done-card shadow2">
          <div class="row px-2">
            <h4 class="col pt-2">P1-C-0-902</h4>
            <h4 class="col"><span class="pull-right pt-2">B11511922</span></h4>
          </div>
          <div class="row font-weight-bold mx-0 text-center">
            <div class="col pt-2 pb-1">
              <div class="h4"> 
                0
              </div>
              <div class="h6 f10"> 
                PENDING
              </div>
            </div>
            <div class="col pt-2 pb-1">
              <div class="h4"> 
                0
              </div>
              <div class="h6 f10"> 
                NOT FOUND
              </div>
            </div>
            <div class="col pt-2 pb-1">
              <div class="h4"> 
                4
              </div>
              <div class="h6 f10"> 
                QTY
              </div>
            </div>
          </div>
        </div>

        <div class="card m-2 bg-not-found-card shadow2">
          <div class="row px-2">
            <h4 class="col pt-2">P1-C-0-902</h4>
            <h4 class="col"><span class="pull-right pt-2">B11511922</span></h4>
          </div>
          <div class="row font-weight-bold mx-0 text-center">
            <div class="col pt-2 pb-1">
              <div class="h4"> 
                1
              </div>
              <div class="h6 f10"> 
                PENDING
              </div>
            </div>
            <div class="col pt-2 pb-1">
              <div class="h4"> 
                1
              </div>
              <div class="h6 f10"> 
                NOT FOUND
              </div>
            </div>
            <div class="col pt-2 pb-1">
              <div class="h4"> 
                1
              </div>
              <div class="h6 f10"> 
                QTY
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
